SERVER_PORT=3000

# Redis Web Management
REDIS_WEB_HOST=redis
REDIS_WEB_PORT=6379
REDIS_WEB_PASS=
REDIS_WEB_FAMILY=4
REDIS_WEB_DB=0

# Web3
WEB3_WEBSOCKET_URL=ws://host.docker.internal:8545
WEB3_CONTRACT_ADDRESS=0xe7f1725E7734CE288F8367e1Bb143E90bb3F0512
